/* navbar */
.navbar {
    background-color: #006342;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* textos hero header */
.glass {
    /* From https://css.glass */
    background: rgba(102, 123, 255, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
}

.hero-title {
    font-size: 4.5rem;
}

.hero-sub {
    font-size: 2rem;
}

.hero-text {
    text-align: center; 
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* hero image */
.bgimage {
    height: 100vh;
    position: relative;
    background: url("img/hero.jpg");
    background-size: cover;
}

/* imagem seção sobre */
.img-sobre {
    height: 50vh;
    width: auto;
}

/* seção linguagens */
.linguagensTxt.card {
    height: 300px;
    cursor: pointer;
}

.linguagensTxt:hover {
    border: 1px solid #334836;
    background-color: rgba(140, 179, 127, 0.1);
}

/* seção contato */
.contatoTxt.card {
    height: 150px;
    cursor: pointer;
}

/* footer */
.footerIcon {
    width: 16px;
}

/* espaçamento */
#sobre, #linguagens, #portfolio, #contato {
    padding: 5rem 0;
}